@use  'vars';
@use  "color";
@use  "button";
@use  "typography";
@use  "dropdown-menu";
@use  "avatar";
@use  "modal";
@use  "navigation";
@use  "rtl";
@use  "membership";
@use  "responsive";
@use "sidebar";
@use "chat";
@use "web3auth";

.tab-content {
	padding-top: 30px;

	.form-item {
		margin-bottom: .8rem;
	}
}

.layout {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	color: black;
	
}
.contentFull{
	height: 100vh;
	overflow-x: auto;
}
.content {
	height: calc(var(--vh, 1vh) * 100);
	height: 100vh;
	margin-left: 70px;
	padding: 30px;
	display: flex;
	flex: 1;
}
.contentNews {
	height: calc(var(--vh, 1vh) * 100);	
	margin-left: 70px;
}
.text-muted {
	color: rgba(var(--ion-text-color), .40) !important;
}


@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap&subset=latin-ext);
